@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

@layer base {
  h5 {
    @apply text-2xl font-bold;
  }
  .bg-dots {
    background-image: radial-gradient(#ececec 2px, transparent 0);
    background-size: 30px 30px;
  }
}

.gradient-button {
  background-image: linear-gradient(to right, #F79674, #F46F65);
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gradient-button:hover {
  background-color: #F472B6;
}